import(clValid, cluster, fpc, methods)
importFrom("grDevices", "rainbow")
importFrom("graphics", "axis")
importFrom("stats", "as.dist", "cor", "cutree", "dist", "fivenum", "sd", "var", "complete.cases", "hclust", "median", "runif")
importFrom("utils", "tail")
export(COMMUNAL, clusterRange, plotRange3D, measuresCorr, getGoodAlgs, testAlgsMinSize, getNonCorrNonMonoMeasures, monotoneClusterRange, clusterKeys, examineCounts, returnCore)
exportClasses(
    "COMMUNAL" 
)